.primary{
    background-color: rgb(53, 162, 250);
    color: rgb(3, 3, 3);
    padding: 0.3em 0.5em;
    border-radius: 0.3em;
    border: none;
    margin: 0.1em;
}
table{
    width: 100%;
    border-collapse: collapse;
    tr{
        border-bottom: 1px solid black ;
    }
}