@if (state=='list') {
<button (click)="add()" class="primary">+افزودن</button>
<table>
  <thead>
    <tr>
      <th>نام</th>
      <th>نام خانوادگی</th>
      <th>کد ملی</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for ( item of data; track $index){
    <tr>
      <td>{{item.firstname}}</td>
      <td>{{item.lastname}}</td>
      <td>{{item.nationality}}</td>

      <td>
        <button class="primary">ویرایش</button>
        <button class="primary">حذف</button>
      </td>
    </tr>
      }
  </tbody>
</table>
}
    @else {
<form (ngSubmit)="seve()">
    <div>
        <input [(ngModel)]="item.id" id="id" name="id" type="number" placeholder="شناسه">
    </div>
    <div>
        <input [(ngModel)]="item.firstname" id="firstname" name="firstname" type="text" placeholder="نام ">
    </div>
    <div>
        <input [(ngModel)]="item.lastname"  id="lastname" name="lastname" type="text" placeholder="نام خانوادگی">
    </div>
    <div>
        <input [(ngModel)]="item.nationality" id="nationality" name="nationality" type="number" placeholder="کد ملی">

    </div>
    <button class="primary" type="submit">تایید</button>
    <button  (click)="cancel()" class="primary" type="submit">انصراف</button>
</form>
    }