@if (mystate=='list') {
<div>
    <button class="bts1" (click)="onAdd.emit()">+افزودن</button>
</div>
<table>
    <thead>
        <tr>
            @for (col of columns; track $index) {
            <th>{{col.titel}}</th>
            }
            <th></th>

        </tr>
    </thead>
    <tbody>
        @for (item of mydata; track $index){
        <tr>
            @for (col of columns; track $index) {
             <td>{{item[col.field]}}</td>
            }
            <td>
                <button class="bt" (click)="onEdit.emit(item)">ویرایش</button>
                <button class="bts" (click)="onRemove.emit(item)">حذف</button>
            </td>
        }
    </tbody>
</table>
}
@else {
      @if(mystate=='remove'){
  <div class="alert">
    آیا از حذف اطمینان دارید !؟
  </div>
  }
    <form (ngSubmit)="onsave.emit()">
        <ng-content></ng-content>
        <button class="primary" (click)="onsave.emit()" type="button">تایید</button>
        <button class="primary" (click)="onCancel.emit()" type="button">انصراف</button>
    </form>
}