@if (mystate=='list') {
<div>
    <button (click)="onAdd.emit()">افزودن</button>
</div>
<table>
    <thead>
        <tr>
            @for (col of columns; track $index) {
            <th>{{col.titel}}</th>
            }
            <th></th>

        </tr>
    </thead>
    <tbody>
        @for (item of mydata; track $index){
        <tr>
            @for (col of columns; track $index) {
             <td>{{item[col.field]}}</td>
            }
            <td>
                <button (click)="onEdit.emit(item)">ویرایش</button>
                <button (click)="onRemove.emit(item)">حذف</button>
            </td>
        }
    </tbody>
</table>
}
@else {
    <form (ngSubmit)="onsave.emit()">
        <button type="button">تایید</button>
        <button (click)="onCancel.emit()" type="button">انصراف</button>
    </form>
}